    [Desktop Entry]
    Type=Application
    Exec=/home/abhishek/.global/linux-scripts/a
    Icon=/home/abhishek/.global/linux-scripts/a
    Terminal=false
    Name=a
